{{ define "main" }}

{{ partial "page-title.html" . }}

{{ "<!-- service details -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="{{ .Params.Image_webp | absURL }}" onerror="this.src='{{.Params.Image | absURL }}'"
          alt="service thumb" class="img-fluid w-100 mb-5">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /service details -->" | safeHTML }}

{{ partial "service-other.html" . }}

{{ end }}