{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}

{{ "<!-- contact items -->" | safeHTML }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      {{ "<!-- Facebook -->" | safeHTML }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fab fa-facebook icon-lg mb-4" style="color:#3b5998"></i>
          <h4 class="mb-4">Facebook Messenger</h4>
          <p><a href="{{ .Site.Params.fb_msg_url | safeURL }}">{{ .Site.Params.fb_msg_url | safeURL }}</a></p>
        </div>
      </div>
      {{ "<!-- Line OA -->" | safeHTML }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fab fa-line icon-lg mb-4" style="color:#00B900"></i>
          <h4 class="mb-4">Line Official Account</h4>
          <p><a href="{{ .Site.Params.line_url | safeURL }}">{{ .Site.Params.line_oa | markdownify }}</a></p>
        </div>
      </div>
      {{ "<!-- Email -->" | safeHTML }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-envelope text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "email" }}</h4>
          <p>{{ .Site.Params.email | markdownify }}</p>
        </div>
      </div>
      {{ "<!-- Phone -->" | safeHTML }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-phone text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "phone" }}</h4>
          <p><a href="tel:{{ .Site.Params.mobile | markdownify }}">{{ .Site.Params.mobile | markdownify }}</a></p><br/>
        </div>
      </div>
      {{ "<!-- Addresses -->" | safeHTML }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="bg-white box-shadow text-center p-5 px-md-2 px-lg-5">
          <i class="fa fa-map-marker text-primary icon-lg mb-4"></i>
          <h4 class="mb-4">{{ i18n "address" }}</h4>
          <p><a href="{{ .Site.Params.gmap_url | safeURL }}">{{ .Site.Params.address | markdownify }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact item -->" | safeHTML }}

{{ "<!-- contact form and map -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      {{ "<!-- google map -->" | safeHTML }}
      {{ if .Site.Params.map.enable }}
      <div class="col-md-5 mb-5 mb-md-0">
        <div id="map_canvas" data-latitude="{{ .Site.Params.map.map_latitude }}"
          data-longitude="{{ .Site.Params.map.map_longitude }}"
          data-marker="{{ .Site.Params.map.map_marker | absURL }}"
          data-marker-name="{{ .Site.Title }}">
        </div>
      </div>
      {{ end }}
      <div class="col-md-7">
        <h3 class="section-title">{{ i18n "contact_form" }}</h3>
        <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-md-6">
            <input type="text" name="name" id="name" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="Name">
          </div>
          <div class="col-md-6">
            <input type="email" name="mail" id="mail" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="Email">
          </div>
          <div class="col-md-6">
            <input type="text" name="phone" id="phone" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="Phone">
          </div>
          <div class="col-md-6">
            <input type="text" name="subject" id="subject" class="form-control border-0 rounded-0 box-shadow mb-4"
              placeholder="Subject">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control border-0 rounded-0 box-shadow mb-5 py-3 px-4"
              placeholder="Your Message"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" value="send" class="btn btn-primary hover-ripple">{{ i18n "send" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact form and map -->" | safeHTML }}

{{ end }}